@import "tailwindcss";

@theme {
    --color-primary: #121212;
    --color-secondary: #4B4B4B;
    --color-accent: #f47e49;
    --color-background: #F8F8F8;
    --color-foreground: #ffffff;
}

@layer base {
    body {
        @apply bg-background text-primary;
    }

    .dark {
        --color-primary: #f0f0f0;
        --color-secondary: #a0a0a0;
        --color-accent: #f47e49;
        --color-background: #181818;
        --color-foreground: #242424;
    }
}
